.item {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  min-height: 60px;
  padding: 10px 10px 10px 16px;
  background-color: var(--white);
  box-shadow: var(--shadow);
  border-radius: 15px;
}

.completed > button > img {
  width: 30px;
  height: 30px;
}

.title, .title_completed {
  font-size: 1rem;
  width: 100%;
  word-break: break-all;
}

.title_completed {
  text-decoration: line-through;
  opacity: .8;
}

.remove {
  margin-left: auto;
  padding-right: 20px;
}

.remove > button > img {
  width: 25px;
  height: 25px;
}

@media screen and (max-width: 600px) {
  .title, .title_completed {
    font-size: 1rem;
    width: 70%;
  }
}